html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif; /* not using MaisonNeue since it's a paid font */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}