.container {
  padding: 6vw 12vw;
  border-top: 1px solid rgb(229, 229, 229);
  border-bottom: 1px solid rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expandedContainer {
  padding-top: 6vw;
  padding-bottom: 6vw;
}

.categoryName {
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: bold;
}

.subcategoryContainer {
  padding: 3vw 12vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subcategoryName {
  font-size: 4vw;
  text-transform: uppercase;
}

.quantity {
  color: #d0d0d0;
  font-size: 3vw;
}

.transformChevron {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.chevron {
  transition: transform 0.3s;
}
